@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=PT+Serif&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-family: var(--sec-font, 'Montserrat', sans-serif);
    font-family: var(--main-font, 'PT Serif', serif);

    background-color: var(--sky, #6295D9);
}

body {
    font-family: serif;
    overflow-x: hidden;
    font-family: var(--sec-font);
    background-color: var(--sky);
}

#hero {
    height: 99vh;
    height: 98svh;
    background: linear-gradient(180deg, #6295D9 0%, #8BA9DD 60%, #CFDCEC 90%);
    background-color: var(--sky);
    position: relative;
}


h1 {
    font-size: 8rem;
    color: #025930;
    font-family: var(--main-font);
    text-shadow: 2px 2px rgba(0,0,0,0.75);
}

h2, h3, h4 {
    text-shadow: 2px 2px rgba(0,0,0,0.75);
}

h2 {
    text-align: center;
    align-self: center;
    margin: 16px;
    color: #E78B24;
    font-size: 3rem;

    /* width: 100%; */
    grid-column: 1 / span 2;
}

h3 {
    color: #FBCC64;
}

h4 {
    color: white;
}

p {
    color: white;
    text-shadow: 1.5px 1.5px rgba(0,0,0,0.75);
    font-size: 1.25rem
}

@keyframes floatUpAnimation {
    0% {
        height: 200vh;
        opacity: 0;
    }
    100% {
        height: 75%;
        opacity: 1;
    }
}

.hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: 75%;
    animation: floatUpAnimation 1s ease forwards;
}

.hero-nav {
    width: 100%;
    position: fixed;
    z-index: 5;
    top: 0;
    background-color: rgba(255, 255, 255, .75);
}

.hero-nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.hero-nav ul li {
    /* margin: 8px; */
    padding: 16px 0;
}

.hero-nav ul li a{
    color: #025930;
    text-decoration: none;
    padding:  16px;
    position: relative;
}

.hero-nav ul li a:hover {
    background-color: white;
    transition: 0.25s;
}

.hero-nav ul li a:after,
.hero-nav ul li a:before {
  content: "";
  position: absolute;
  display: block;
  border: 0px solid transparent;
  width: 0%;
  height: 0%;
  transition: all 0.3s ease;
}

.hero-nav ul li a:after {
  width: 0%;
  height: 0%;
  top: 0;
  left: 0;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
}

.hero-nav ul li a:before {
  width: 0%;
  height: 0%;
  right: 0;
  bottom: 0;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
}

.hero-nav ul li a:hover::before,
.hero-nav ul li a:hover::after {
  width: 8px;
  height: 8px;
  border-color: #025930;
}

.hero-nav ul li:hover .subnav {
    display: flex;
    /* opacity: 1; */
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.5s ease;
}

ul.subnav {
    display: none;
    position: absolute;
    width: 100%;
    justify-content: center;
    right: 0;
    top: 5vh;
}

.subnav li {
    background-color: rgba(255, 255, 255, .75);
}

.spacing {
    height: 5vh;
    background: linear-gradient(180deg, #FBCC64 0%, #6295D9 80%);
    background-color: #FBCC64;
}


#about-content .about {
    display: block;
    text-align: center;
}

#resume-content section{
    padding: 8px;
    border-radius: 8px;

    background-color: rgba(139, 169, 221, 0.5);

    display: flex;
    flex-direction: column;
}

#resume-content embed {
    width: 100%;
    height: 100%;
}

.grid-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    margin: 32px;
}

.grid-split {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    margin: 32px;
}

.grid-split .half-split {
    justify-content: flex-start;
}

.grid-split p {
    margin-bottom: 16px;
}

.half-split a {
    color: #ffb443;
    text-decoration: none;
    font-size: 1.25rem;
}

.half-split a:hover {
    text-decoration: underline;
}

.solar {
    position: absolute;
    top: 15%;
    right: 10%;
}

#sun {
    width: 7.5vh;
    height: 7.5vh;
    
    box-shadow: orange 0px 0px 15px 15px;
    border-radius: 50%;

    background-color: yellow;
    background: radial-gradient(rgb(255, 255, 0), rgb(255, 165, 0));
    transition: 0.25s;

    /* display: none; */
}

#sun:hover {
    transform: scale(1.1);
    box-shadow: orange 0px 0px 20px 20px;
}

#moon {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #F5F5F5;
    position: relative;
    overflow: hidden;
    display: none;
}

#moon::before {
    content: "";
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 100%;
    border-radius: 50%;
    background-color: #6295D9;
}
  
/*   
  #sun::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: rgb(255, 111, 0) 0px 0px 25px 25px;
    border-radius: 50%;
  }
   */

   footer {
    background: linear-gradient(180deg, #6295D9 0%, #8BA9DD 75%, #CFDCEC 100%);
    background-color: #ffa42c;
    text-align: center;
    width: 100%;
    padding: 16px 32px;

    margin-top: 10vh;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.footer-nav {
    padding: 8px;
}

.footer-nav li {
    display: inline-block;
    margin: 8px;
}

.footer-nav a {
    color: #ebebeb;
    text-decoration: none;
}

.footer-nav a:hover {
    color: #444;
    text-decoration: underline;
}

.cite {
    margin: 16px;
}

.desert-hill {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.desert-hill svg {
    position: relative;
    display: block;
}

.hill-1 svg {
    width: calc(143% + 1.3px);
    height: 275px;
}

.hill-1 .shape-fill {
    fill: #FBCC64;
}

.hill-3 svg {
    width: calc(200% + 1.3px);
    height: 400px;
}

.hill-3 .shape-fill {
    fill: #E78B24;
}

.hill-2 {
    transform: rotate(180deg);
}

.hill-2 svg {
    width: calc(300% + 1.3px);
    height: 550px;
}

.hill-2 .shape-fill {
    fill: #C8721B;
}

.hill-spacing {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.hill-spacing svg {
    position: relative;
    display: block;
    width: calc(230% + 1.3px);
    height: 150px;
    transform: rotateY(180deg);
}

.hill-spacing .shape-fill {
    fill: #FBCC64;
}


@media screen and (max-height: 850px) {
    .hill-1 svg {
        height: 205px;
    }

    .hill-3 svg {
        height: 300px;
    }

    .hill-2 svg {
        height: 415px;
    }
}  

@media screen and (max-height: 700px) {
    .hill-1 svg {
        height: 135px;
    }

    .hill-3 svg {
        height: 200px;
    }

    .hill-2 svg {
        height: 275px;
    }
}   
 
@media screen and (max-height: 575px) {
    .hero-text {
        font-size: smaller;
    }
} 

@media screen and (max-width: 600px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2rem;
    }

    .hero-nav ul li a {
        padding: 8px;
    }

    .hero-nav ul li {
        padding: 8px 0;
    }
} 