section {
    padding: 16px;
    border-radius: 8px;
}

label {
    display: block;
    color: #333;
    font-weight: bold;
    font-style: var(--sec-font);
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 16px;
    border: 1px solid #FBCC64;
    border-radius: 8px;
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 16px;
    margin-top: 16px;
    background-color: #ff8c00;
    color: white;

    border: none;
    border-radius: 8px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #f56900;
}

input, textarea{
    font-size: 1.25rem;
    font-style: var(--sec-font);
}

.social-links a {
    color: #ffb443;
    text-decoration: none;
    font-size: 2rem;
}

.social-links a:hover {
    text-decoration: underline;
}

.social-links {
    grid-column: 1 / span 2;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.social-links h2 {
    width: 100%;
}

@media screen and (max-width: 800px) {
    .social-links {
        grid-column: auto;
    }
}