
.half-split {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.half-split a {
    display: inline-block;
    width: 45%;
    padding: 8px 16px;
    background-color: #007BFF;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;

    text-align: center;
}

.links {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.half-split a:hover {
    background-color: #0056b3;
}

.half-split img {
    width: 75%;
    height: auto;
    border-radius: 8px;
}

.half-split.double-image {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 16px;
}

.double-image img {
    width: 100%;
    height: auto;

}

.project-hero {
    display: flex;

    width: 100%;
    height: 50vh;

    background-size: cover;
    background-repeat: no-repeat;

    border-bottom: 4px solid #025930;
}

.project-title {
    display: flex;
    justify-content: center;
    flex-direction: column;

    padding: 8px 16px;
    margin: 10%;
    height: fit-content;
    border-radius: 8px;

    background-color: rgba(255, 255, 255, .75);
}

article {
    margin-bottom: 15vh;
}

.spacing#to-splendor {
    background: linear-gradient(180deg, #FBCC64 0%, rgb(30, 36, 48) 80%);
}

.spacing#to-writing {
    background: linear-gradient(180deg, #FBCC64 0%, rgb(255, 255, 255) 80%);
}

.spacing#to-league {
    background: linear-gradient(180deg, #FBCC64 0%, rgb(1, 10, 19) 80%);
}

/* programming projects */
#digital-game .project-hero {
    background-image: url(/images/splendor.PNG);
}

#budget-calc .project-hero {
    background-image: url(/images/eecu.PNG);
}

#info-web .project-hero {
    background-image: url(/images/social-engineering.PNG);
}

#layout-practice .project-hero {
    background-image: url(/images/layout-practice.PNG);
}

/* english projects */
#career-choice .project-hero {
    background-image: url(/images/careerchoiceimage.PNG);
    background-position: 15%;
    background-repeat: repeat;
}

#cover-letter .project-hero {
    background-image: url(/images/coverletterimage.PNG);
    background-position: 16px;
    background-repeat: repeat;
}

/* personal projects */
#league .project-hero {
    background-image: url(/images/league-hero.PNG);
}