@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=PT+Serif&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-family: var(--sec-font, 'Montserrat', sans-serif);
    font-family: var(--main-font, 'PT Serif', serif);

    background-color: var(--sky, #6295D9);
}

body {
    font-family: serif;
    overflow-x: hidden;
    font-family: var(--sec-font);
    background-color: var(--sky);
}

#hero {
    height: 99vh;
    height: 98svh;
    background: linear-gradient(180deg, #6295D9 0%, #8BA9DD 60%, #CFDCEC 90%);
    background-color: var(--sky);
    position: relative;
}


h1 {
    font-size: 8rem;
    color: #025930;
    font-family: var(--main-font);
    text-shadow: 2px 2px rgba(0,0,0,0.75);
}

h2, h3, h4 {
    text-shadow: 2px 2px rgba(0,0,0,0.75);
}

h2 {
    text-align: center;
    align-self: center;
    margin: 16px;
    color: #E78B24;
    font-size: 3rem;

    /* width: 100%; */
}

h3 {
    color: #FBCC64;
}

h4 {
    color: white;
}

p {
    color: white;
    text-shadow: 1.5px 1.5px rgba(0,0,0,0.75);
}

.hero-text * {
    position: fixed;
    bottom: -35vh;
    transition: bottom 1s ease-out;
}

.hero-text .loaded {
    position: relative;
    bottom: 10%;
}

.hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 75%;
}

.hero-nav {
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: rgba(255, 255, 255, .75);
    /* display: flex;
    justify-content: space-around; */
}

.hero-nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.hero-nav ul li {
    /* margin: 8px; */
    padding: 16px 0;
}

.hero-nav ul li a{
    color: #025930;
    text-decoration: none;
    padding:  16px;
    position: relative;
}

.hero-nav ul li a:hover {
    background-color: white;
    transition: 0.25s;
}

.hero-nav ul li a:after,
.hero-nav ul li a:before {
  content: "";
  position: absolute;
  display: block;
  border: 0px solid transparent;
  width: 0%;
  height: 0%;
  transition: all 0.3s ease;
}

.hero-nav ul li a:after {
  width: 0%;
  height: 0%;
  top: 0;
  left: 0;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
}

.hero-nav ul li a:before {
  width: 0%;
  height: 0%;
  right: 0;
  bottom: 0;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
}

.hero-nav ul li a:hover::before,
.hero-nav ul li a:hover::after {
  width: 10px;
  height: 10px;
  border-color: #025930;
}

.hero-nav ul li:hover .subnav {
    display: flex;
    /* opacity: 1; */
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.5s ease;
}

ul.subnav {
    display: none;
    position: absolute;
    width: 100%;
    justify-content: center;
    right: 0;
    top: 5vh;
}

.subnav li {
    background-color: rgba(255, 255, 255, .75);
}

.spacing {
    height: 5vh;
    background: linear-gradient(180deg, #FBCC64 0%, #6295D9 80%);
    background-color: #FBCC64;
}

/* article {
    margin: 10vh 250px;
} */

/* article section {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;
} */

.half-split {
    width: 45%;
}

.half-split img {
    width: 100%;
    height: 100%;
}

.desert-hill {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.desert-hill svg {
    position: relative;
    display: block;
}

.hill-1 svg {
    width: calc(143% + 1.3px);
    height: 275px;
}

.hill-1 .shape-fill {
    fill: #FBCC64;
}

.hill-3 svg {
    width: calc(200% + 1.3px);
    height: 400px;
}

.hill-3 .shape-fill {
    fill: #E78B24;
}

.hill-2 {
    transform: rotate(180deg);
}

.hill-2 svg {
    width: calc(300% + 1.3px);
    height: 550px;
}

.hill-2 .shape-fill {
    fill: #C8721B;
}
