* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: serif;
}

canvas {
    z-index: 2;
    /* position: fixed; */
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 50%;
}

#hero {
    height: 100vh;
    height: 100svh;
    background: linear-gradient(180deg, #6295D9 0%, #8BA9DD 60%, #CFDCEC 90%);
    background-color: #6295D9;
    position: relative;
}

h1 {
    font-size: 8rem;
    color: #025930;
}

.hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 75%;
}

.hero-nav {
    width: 100%;
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: rgba(255, 255, 255, .25);
}

.hero-nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

.hero-nav ul li {
    margin: 8px;
    padding: 8px 0;
}

.hero-nav ul li a{
    color: #025930;
    text-decoration: none;
    padding: 8px 16px;
}

.hero-nav ul li a:hover {
    background-color: white;
}

article {
    height: 200vh;
}

#index-content {
    background: linear-gradient(180deg, #FBCC64 0%, #D7B358 2%, #B49A4C 4%, #90803F 6%, #6D6733 8%, #494E27 10%);
    background-color: #494E27;
}

.desert-hill {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.desert-hill svg {
    position: relative;
    display: block;
}

.hill-1 svg {
    width: calc(143% + 1.3px);
    height: 275px;
}

.hill-1 .shape-fill {
    fill: #FBCC64;
}

.hill-3 svg {
    width: calc(200% + 1.3px);
    height: 400px;
}

.hill-3 .shape-fill {
    fill: #E78B24;
}

.hill-2 {
    transform: rotate(180deg);
}

.hill-2 svg {
    width: calc(300% + 1.3px);
    height: 550px;
}

.hill-2 .shape-fill {
    fill: #C8721B;
}
