@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=PT+Serif&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-family: var(--sec-font, 'Montserrat', sans-serif);
    font-family: var(--main-font, 'PT Serif', serif);

    background-color: var(--sky, #6295D9);

}

body {
    font-family: serif;
    overflow-x: hidden;
    font-family: var(--sec-font);
    background-color: var(--sky);
}

.webgl {
    position: sticky;
    z-index: -1;
    top: 0;
    /* margin-top: 103vh;
    margin-top: 103svh;
    height: 100%; */
}

#hero {
    height: 99vh;
    height: 98svh;
    background: linear-gradient(180deg, #6295D9 0%, #8BA9DD 60%, #CFDCEC 90%);
    background-color: var(--sky);
    position: relative;
}

#index-content section {
    background-color: var(--sky);
    text-align: center;
    font-size: 1.5rem;
    /* background-color: #FBCC64; */
    margin: 0 250px;
}

h1 {
    font-size: 8rem;
    color: #025930;
    font-family: var(--main-font);
}

.hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 75%;
}

.hero-nav {
    width: 100%;
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: rgba(255, 255, 255, .25);
    /* display: flex;
    justify-content: space-around; */
}

.cactus-nav {
    height: 32px;
    margin: 16px;
}

.cactus-nav img{
    height: 100%;
    width: 100%;
}

.hero-nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.hero-nav ul li {
    /* margin: 8px; */
    padding: 16px 0;
}

.hero-nav ul li a{
    color: #025930;
    text-decoration: none;
    padding:  16px;
}

.hero-nav ul li a:hover {
    background-color: white;
    transition: 0.25s;
}

ul.subnav {
    display: none;
}

/* #index-content {
    height: 500vh;
} */

.spacing {
    height: 5vh;
    background: linear-gradient(180deg, #FBCC64 0%, #6295D9 80%);
    background-color: #FBCC64;
}

.projects {
    z-index: 2;
    position: relative;
    margin: 0 100px;

    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.project {
    width: 100%;
    border: 8px solid rgba(0,0,0,0);
    padding: 16px;

    display: flex;
    justify-content: space-between;

    border-radius: 8px;

    color: #ffffff;
    text-decoration: none;
    font-size: 2rem;
}

.project:hover {
    /* opacity: 1; */
    border: 8px solid #FBCC64;
    transition: 0.25s;
}

#test {
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgb(128, 55, 55);
    z-index: 5;
    width: 100px;
    height: 50px;
    display: none;
}

footer {
    margin-top: 15vh;
}

#project-info {
    position: absolute;
    top: 50%; 
    right: 50%;
    transform: translate(50%,-50%);

    width: 35%;
    height: 80%;
    padding: 16px;

    border: 2px solid black;
    border-radius: 8px;
    background-color: #E78B24;
    color: #025930;

    display: none;
    align-items: center;
    flex-direction: column;

    transition: 0.25s;
    display: none;
}

#project-info h2 {
    font-size: 1.5rem;
}

.desert-hill {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.desert-hill svg {
    position: relative;
    display: block;
}

.hill-1 svg {
    width: calc(143% + 1.3px);
    height: 275px;
}

.hill-1 .shape-fill {
    fill: #FBCC64;
}

.hill-3 svg {
    width: calc(200% + 1.3px);
    height: 400px;
}

.hill-3 .shape-fill {
    fill: #E78B24;
}

.hill-2 {
    transform: rotate(180deg);
}

.hill-2 svg {
    width: calc(300% + 1.3px);
    height: 550px;
}

.hill-2 .shape-fill {
    fill: #C8721B;
}
