* {
    margin: 0;
}

canvas {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
}

#hero {
    height: calc(100vh + 2000px);
}

.hero-content {
    margin-top: 2000px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    height: 100svh;
}

h1 {
    font-size: 8rem;
}

.hero-text {
    margin-bottom: 15vh;
}

.hero-nav {
    width: 100%;
    position: sticky;
    top: 0;
    /* background-color: pink; */
}

.hero-nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

#hamburger-contaier {
    z-index: 5;
    font-size: 25px;
    right: 0;
    background-color: #f5deb3;
    color: rgb(0, 0, 0);
    position: fixed;
    width: auto;
}

article {
    height: 200vh;
}