:root {
    font-family: var(--sec-font, 'Montserrat', sans-serif);
    font-family: var(--main-font, 'PT Serif', serif);

    background-color: var(--sky, #6295D9);

}

.webgl {
    position: sticky;
    z-index: -1;
    top: 0;
    height: 100vh;
}

#index-content {
    margin: 0;
}

#index-content section p {
    font-size: 1.5rem;
}

#index-content section {
    /* background-color: var(--sky); */
    text-align: center;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0);
}

.index-section a {
    text-shadow: 1.5px 1.5px rgba(0,0,0,0.75);
    padding: .5rem;
    color: #ffffff;
    font-size: 1.5rem;
}

.index-section a:hover {
    color: #000000;
    text-shadow: 1.5px 1.5px rgba(255, 255, 255, 0.75);
}

.index-section {
    padding: 16px;
}

.projects {
    z-index: 2;
    position: relative;
    margin: 0 100px;

    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.project {
    width: 100%;
    border: 8px solid rgba(0,0,0,0);
    padding: 16px;

    display: flex;
    justify-content: space-between;

    border-radius: 8px;

    color: #ffffff;
    text-decoration: none;
    font-size: 2rem;
}

.project:hover {
    /* opacity: 1; */
    border: 8px solid #FBCC64;
    transition: 0.25s;
}

#test {
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgb(128, 55, 55);
    z-index: 5;
    width: 100px;
    height: 50px;
    display: none;
}

footer {
    margin-top: 15vh;
    
}

footer p {
    font-size: .8rem;
}

@media screen and (max-width: 850px) {
    .projects {
        margin: 0 25px;
    }
}

@media screen and (max-width: 600px) {
    .project :first-child {
        display: none;
    }

    .project {
        justify-content: center;
    }

} 